asgiref==3.8.1
asttokens
black
click==8.1.7
decorator
Django==5.1
executing
ipython
jedi
matplotlib-inline
mypy-extensions
packaging==24.1
parso
pathspec
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.2.2
prompt_toolkit
psycopg2-binary
ptyprocess==0.7.0
pure_eval
Pygments==2.18.0
six==1.16.0
sqlparse==0.5.1
stack-data
traitlets
typing_extensions
wcwidth
